$body-font       : "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font     : "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color   : #1F2326;
$secondary-color : #FCFE00;
// $tritiary-color  : #f15354;
$light           : #fdfdfd;


* {
  box-sizing: inherit;
}

body {
  line-height: 1.5em;
  font-family: $body-font;
  margin: 0;
  background-color: $light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  margin: 0;
  color: $primary-color;
}

h1 {
  font-size: 125px;
  line-height: 129px;
}

h2 {
  font-size: 90px;
  line-height: 94px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 30px;
  line-height: 34px;
  font-weight: lighter;
  letter-spacing: .5px;
}

small {
  font-size: .5em;
  color: #BFBFBF;
}

a {
  color: blue;
}

/* header and footer areas */
.menu {
  padding: 0;
  margin: 0;
  display: inherit;

  li {
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }
  }
}

.article-meta {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.main-nav {
  border-bottom: solid thin lighten($primary-color, 80%);
  padding: .75rem 0;

  .logo {
    height: 50px;
    width: 161px;
    display: block;
  }

  .menu {
    a {
      text-decoration: none;
      color: $primary-color;
      // padding-left: 1rem;
    }
    text-align: center;
  }
}

.article-meta, footer {
  text-align: center;
}

.title {
  font-size: 1.1em;
}

footer.bg-primary {
  p {
    margin: 0;
    padding: .5rem;
  }

  a {
    text-decoration: none;
  }

  small {
    color: #BFBFBF;
  }
}

hr {
  border: .5px solid lighten($primary-color, 80%);
}

/* code */
pre {
  border: 1px solid darken($primary-color, 7%);
  border-radius: 5px;
  padding: 1em;
  overflow-x: auto;
  background-color: $primary-color;
}

code {
  color: lime;
}

pre code {
  display: block;
  overflow-x: auto;
  background: none;
}

/* elements */
img, iframe, video {
  max-width: 100%;
}

main {
  hyphens: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  thead th {
    border-bottom: 1px solid #ddd;
  }
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #eee;
}

ul.underlined {
  font-size: 20px;
  line-height: 24px;
  font-weight: lighter;
  letter-spacing: .5px;
  list-style-type: none;
  padding: 0;

  li {
    border-bottom: #BFBFBF solid thin;
    padding: 10px 0;
  }
}

.btn {
  background: lighten($primary-color, 80%);
  padding: .75rem;
  text-decoration: none;
  line-height: 0;
  color: $primary-color;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 35px;

  > img {
    padding-right: .5rem;
  }

  &.no-bg {
    background: transparent;
  }
}

//layout
section {
  padding: 6rem 0;
}

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-items: end;
  column-gap: 2rem;
}

.half {
  flex-basis: 50%;
  max-width: 50%;
  padding: 2rem;

  // &:last-child {
  //   padding: 0;
  // }
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid-four {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;

  // &::before {
  //   content: '';
  //   width: 0;
  //   padding-bottom: 100%;
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }

  // > *:first-child {
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }
}


.spacer {
  padding: 4rem;
}

.text-center {
  text-align: center;
}

//accents
.highlight {
  background-color: $secondary-color;
}

.bg-light {
  background-color: lighten($primary-color, 80%);
  padding: 40px;
}

.bg-primary {
  background-color: $primary-color;

  * {
    color: $light;
  }
}

.box {
  border: solid thin lighten($primary-color, 80%);
  padding: 2rem;
}

.yellow-dot {
  background-color: $secondary-color;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 5px;
  color: $primary-color;
  font-weight: bold;
}


//black and white split
.black-white {
    clear: both;
    display: grid;
    grid-template-columns: [left] 1fr [right] 1fr;

  }

  .black {
    background: $primary-color;
    grid-area: "left";

    .black-content {
      margin: 0 0 0 auto;

      * {
        color: $light;
      }
    }
  }

  .white {
    grid-area: "right"
  }

  .black-content, .white-content {
    max-width: calc(600px - 4em);
    padding: 2em;
  }


//docs layout
.docs {
  h1 {
    font-size: 90px;
    line-height: 94px;
  }

  h2 {
    font-size: 30px;
    line-height: 34px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: lighter;
    letter-spacing: .5px;
  }

  .container {
    display: grid;

    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";

    grid-template-columns: 300px minmax(50ch, 80ch) auto;
    grid-template-rows: auto 1fr;
    column-gap: 40px;

    height: 100vh;
  }

  header {
    grid-area: header;
    // background: #666;
  }

  .tree-nav {
    grid-area: nav;
    align-items: start;
    padding: 2rem;
    background-color: lighten($primary-color, 80%);

    > ul ul {
      display: none
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;

        &.open {
          > img {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }

          > ul {
            display: block;
          }
        }

        a {
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: $primary-color;
        }

        ul {
          margin-left: 10px;
        }
      }
    }
  }

  main {
    grid-area: content;
    margin-top: 2rem;
  }

  aside {
    grid-area: side;
    margin-top: 2rem;
  }

  footer {
    grid-area: footer;
    // background: #555;
  }

  //table of contents
  #TableOfContents {
    > ul {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          padding: .25rem 0;
          display: block;
        }
      }
    }
  }
}


//responsive
  @media (max-width: 768px) {
    .container {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";

      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        minmax(75px, auto) /* side Nav */
        1fr /* Content */
        minmax(75px, auto) /* toc */
        auto; /* Footer */
    }

    section {
      padding: 2em;
    }

    .bg-primary {
      .flex-between {
        display: block;
        padding: 1rem;

        p {
          margin: 0;
        }
      }
    }

    .flex-between {
      padding: .4rem;
    }

    nav.main-nav {
      .logo, .logo img {
        height: 35px;
        width: 112px;
        display: inline-block;
      }
    }

    .black-content, .white-content {
      max-width: 100%;
      padding: 1em;
    }

    .bg-light {
      padding: 20px;
    }

    .intro,
    .grid-row,
    .black-white {
      display: block;
    }

    .intro {
      > div {
        padding-bottom: 2em;
      }

      h1 {
        font-size: 44px;
        line-height: 48px;
      }
    }

    .grid-row {
      padding: 0 2em;

      .box {
        margin: 1em 0;
      }
    }

    h2 {
      font-size: 40px;
      line-height: 44px;
    }

    .intro,
    .grid-two,
    .grid-three,
    .black-white {
      grid-template-columns: 1fr;
    }

    .grid-two {
      grid-row-gap: 0;
    }

    .grid-four {
      grid-template-columns: repeat(2, 1fr);

      .yellow-dot {
        font-size: 1em;
      }
    }

    .hidden-small {
      display: none;
    }
  }
