@import  "../../themes/projects-theme/assets/sass/main";

:root {
    --primary-color   : #FFC61C;
    --secondary-color : #053F5E;
    --dark            : #33313b;
    --light           : #F3F3F3;
  }