<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

  {{- $.Scratch.Set "topLevel" . -}}
  {{ range $page := $.Site.Sections }}
    {{- if $.CurrentSection -}}
      {{- if $page.IsAncestor $.CurrentSection -}}
        {{- $.Scratch.Set "topLevel" . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  <body class="{{ replaceRE "/.*" "" ($.Scratch.Get "topLevel").Dir }}">
    <header>
      <nav class="main-nav">
        <a href="/" class="logo"><img src="/img/logo.svg"></a>
        <ul class="menu">
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
          <li><a href="" class="btn"><img src="/img/icon-github.svg"><span>Github</span></a></li>
        </ul>
      </nav>
    </header>
