<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ $cache :=  now.Unix }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}?{{ $cache }}">

    {{ $empty := resources.Get "js/empty.js" }}
    {{ $jquery := resources.Get "js/jquery.js" }}
    {{ $vendorJs := slice $jquery | resources.Concat "js/vendor.js" }}
    <script charset="utf-8" type="text/javascript" src="{{ $vendorJs.Permalink }}?{{ $cache }}"></script>

    {{ $main := resources.Get "js/main.js" }}
    {{ $appJs := slice $main | resources.Concat "js/app.js" }}
    <script charset="utf-8" type="text/javascript" src="{{ $appJs.Permalink }}?{{ $cache }}"></script>
  </head>

  {{- $.Scratch.Set "topLevel" . -}}
  {{ range $page := $.Site.Sections }}
    {{- if $.CurrentSection -}}
      {{- if $page.IsAncestor $.CurrentSection -}}
        {{- $.Scratch.Set "topLevel" . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  <body class="{{ replaceRE "/.*" "" ($.Scratch.Get "topLevel").Dir }}">
    <header>
      <nav class="main-nav">
        <a href="/" class="logo"><img src="/img/logo.svg"></a>
        <ul class="menu">
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
          <li><a href="" class="btn"><img src="/img/icon-github.svg"><span>Github</span></a></li>
        </ul>
      </nav>
    </header>
