<header>

	<div class="sub-header">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img  src="../images/logo-{{ .Site.Title }}.svg" alt="{{ .Site.Title }}">
    </a>

      <!-- github stars -->
      <a class="github-button" href="https://github.com/rancher/{{ .Site.Title }}" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
      
      <!-- github button -->
      <a class="github-button" href="https://github.com/rancher/{{ .Site.Title }}/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a>

    <!-- nav -->
    {{ with .Site.Menus.main }}

    
    <nav>
      <ul class="menu">
        {{ range . }}
        <li><a href="{{ .URL | relURL }}" class="btn no-bg">{{ .Name }}</a></li>
        {{ end }}
        <!-- github  -->
        <li><a href="{{ $.Site.Params.github }}" class="btn"><img src="../images/icon-github.svg"><span>Github</span></a></li>
      </ul>  
    </nav>
    {{ end }}
  </div>
</header>
